---
import Hero from "./Hero.astro";
import Projects from "./Projects.astro";
import TechStack from "./TechStack.astro";
---

<div class="card bg-base-100 shadow-sm w-full max-w-lg mx-auto">
  <Hero />
  <Projects />
  <TechStack />
</div>
