<figure>
  <div class="hero rounded-box">
    <div class="hero-content text-center">
      <div class="max-w-md">
        <div class="avatar py-8">
          <div class="rounded-full w-48">
            <img src="/bardavatar.png" />
          </div>
        </div>
        <h1 class="text-5xl font-bold">Bard Dev</h1>
        <p class="py-6">
          Hello! Welcome on my navigation page. I'm a developer specializing in
          web technologies and end to end solutions. Feel free to explore my
          projects and get in touch!
        </p>
      </div>
    </div>
  </div>
</figure>
