---
import "../../global.css";
---

<!doctype html>
<html lang="en" class="h-full">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/bardavatar.png" />
    <meta name="generator" content={Astro.generator} />
    <title>Bard Dev Card | Developer Portfolio & Projects</title>
    <meta
      name="description"
      content="A modern, visually appealing developer card and navigation page built with Astro, Tailwind CSS, and DaisyUI. Showcasing Bard Dev's profile, projects, and tech stack."
    />
    <meta name="author" content="Bard Dev" />
    <meta
      property="og:title"
      content="Bard Dev Card | Developer Portfolio & Projects"
    />
    <meta
      property="og:description"
      content="A modern, visually appealing developer card and navigation page built with Astro, Tailwind CSS, and DaisyUI. Showcasing Bard Dev's profile, projects, and tech stack."
    />
    <meta property="og:image" content="/bardavatar.png" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://bard-dev.com" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta
      name="twitter:title"
      content="Bard Dev Card | Developer Portfolio & Projects"
    />
    <meta
      name="twitter:description"
      content="A modern, visually appealing developer card and navigation page built with Astro, Tailwind CSS, and DaisyUI. Showcasing Bard Dev's profile, projects, and tech stack."
    />
    <meta name="twitter:image" content="/bardavatar.png" />
  </head>
  <body class="flex items-center justify-center my-12">
    <slot />
  </body>
</html>
